In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path

In [7]:
#OMXC25 Data
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.5112.79 Safari/537.36'
}

page = 'https://finance.yahoo.com/quote/%5EOMXC25/history?period1=1483228800&period2=1691798400&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'lxml')
pageSoup
table_node = pageSoup.find('table',class_="W(100%) M(0)")


def parse_html_table(table_node):
    # Get the columns in a list
    columns_html = table_node.thead.find_all('th')
    # Extract the text
    columns = [col.text for col in columns_html]

    rows_list = table_node.tbody.find_all('tr')

    data = []
    for row_node in rows_list:
        row = []
        for child in row_node.children:
            row.append(child.text)
        data.append(row)
    df = pd.DataFrame(data,columns=columns)
    return df

x = parse_html_table(table_node)
x = x[['Date','Open']]
x['Date'] = pd.to_datetime(x['Date'])
x = x.rename(columns={'Open': 'OMXC25'})
#x.to_csv(Path.cwd() / "OMXC25Data")
x

         Date    OMXC25
0  2023-08-11  1,795.66
1  2023-08-01  1,806.76
2  2023-07-01  1,821.58
3  2023-06-01  1,813.22
4  2023-05-01  1,829.29
..        ...       ...
76 2017-05-01  1,126.25
77 2017-04-01  1,075.07
78 2017-03-01  1,060.60
79 2017-02-01  1,049.63
80 2017-01-01  1,015.74

[81 rows x 2 columns]

In [13]:
#Storebaelt Data
df_storebaelt=pd.read_csv(Path.cwd() / "Report (1).csv", sep=';', header=1)

df_storebaelt['Date'] = pd.to_datetime(df_storebaelt['Ã…r'].astype(str) + '-' + df_storebaelt['MÃ¥ned'].astype(str), format='%Y-%m')
df_storebaelt = df_storebaelt.drop(['Ã…r', 'MÃ¥ned'], axis=1)

df_storebaelt['Storebaelt LastbilerTotal'] = df_storebaelt['SmÃ¥ lastbiler']+df_storebaelt['Store lastbiler']+df_storebaelt['Lastbiler over 20 meter']
df_storebaelt = df_storebaelt.drop(df_storebaelt.columns[:8],axis=1)
df_storebaelt['Storebaelt LastbilerTotal'] = (df_storebaelt['Storebaelt LastbilerTotal'] * 1000).astype(int)  # Multiply by 1000 to shift decimal places

#df_storebaelt.to_csv(Path.cwd() / "data/FinalStorebaeltData")
df_storebaelt

         Date  Storebaelt LastbilerTotal
0  2023-07-01                     138135
1  2023-06-01                     155207
2  2023-05-01                     145951
3  2023-04-01                     124993
4  2023-03-01                     145877
5  2023-02-01                     123946
6  2023-01-01                     127485
7  2022-12-01                     123894
8  2022-11-01                     141909
9  2022-10-01                     138921
10 2022-09-01                     147674
11 2022-08-01                     155465
12 2022-07-01                     140354
13 2022-06-01                     156090
14 2022-05-01                     151036
15 2022-04-01                     134415
16 2022-03-01                     154419
17 2022-02-01                     126765
18 2022-01-01                     128360
19 2021-12-01                     128924
20 2021-11-01                     148853
21 2021-10-01                     140333
22 2021-09-01                     147766
23 2021-08-01                     143373
24 2021-07-01                     134435
25 2021-06-01                     152242
26 2021-05-01                     140388
27 2021-04-01                     132844
28 2021-03-01                     149669
29 2021-02-01                     119519
30 2021-01-01                     116889
31 2020-12-01                     120074
32 2020-11-01                     131839
33 2020-10-01                     132356
34 2020-09-01                     134694
35 2020-08-01                     126739
36 2020-07-01                     120925
37 2020-06-01                     132013
38 2020-05-01                     123346
39 2020-04-01                     120949
40 2020-03-01                     133867
41 2020-02-01                     117166
42 2020-01-01                     122752
43 2019-12-01                     107907
44 2019-11-01                     126595
45 2019-10-01                     136134
46 2019-09-01                     129389
47 2019-08-01                     130935
48 2019-07-01                     128844
49 2019-06-01                     127131
50 2019-05-01                     136058
51 2019-04-01                     125848
52 2019-03-01                     125050
53 2019-02-01                     112501
54 2019-01-01                     122825

In [6]:
df_oresund=pd.read_excel(Path.cwd() / "Oresundsbroen.xlsx", header=1)
df_oresund['Date'] = pd.to_datetime(df_oresund['Ã…r'].astype(str) + '-' + df_oresund['MÃ¥ned'].astype(str), format='%Y-%m')
df_oresund = df_oresund.drop(columns=['Ã…r', 'MÃ¥ned','MC', 'Personbiler', 'Personbiler med slÃ¦b m.m.', 'Busser', 'Total'])
df_oresund = df_oresund.rename(columns={'Last- og varebiler fra 6 m': 'Oresund LastbilerTotal'})

#df_oresund.to_csv(Path.cwd() / "FinalOresundtData")
df_oresund

     Oresund LastbilerTotal       Date
0                     60599 2023-06-01
1                     60156 2023-05-01
2                     52003 2023-04-01
3                     60971 2023-03-01
4                     52304 2023-02-01
..                      ...        ...
271                   11821 2000-11-01
272                   11566 2000-10-01
273                   10924 2000-09-01
274                   10360 2000-08-01
275                    8927 2000-07-01

[276 rows x 2 columns]

In [17]:
merged_df = pd.merge(x,df_storebaelt, on='Date')

merged_df = pd.merge(merged_df,df_oresund, on='Date')
merged_df

         Date    OMXC25  Storebaelt LastbilerTotal  Oresund LastbilerTotal
0  2023-06-01  1,813.22                     155207                   60599
1  2023-05-01  1,829.29                     145951                   60156
2  2023-04-01  1,789.75                     124993                   52003
3  2023-03-01  1,779.34                     145877                   60971
4  2023-02-01  1,708.03                     123946                   52304
5  2023-01-01  1,708.43                     127485                   54919
6  2022-12-01  1,704.52                     123894                   53085
7  2022-11-01  1,582.77                     141909                   57478
8  2022-10-01  1,429.19                     138921                   57514
9  2022-09-01  1,629.48                     147674                   62845
10 2022-08-01  1,770.44                     155465                   66299
11 2022-07-01  1,569.96                     140354                   66511
12 2022-06-01  1,681.90                     156090                   66949
13 2022-05-01  1,753.46                     151036                   62941
14 2022-04-01  1,797.54                     134415                   55021
15 2022-03-01  1,755.04                     154419                   60515
16 2022-02-01  1,791.60                     126765                   51095
17 2022-01-01  1,971.80                     128360                   49929
18 2021-12-01  1,886.86                     128924                   51805
19 2021-11-01  1,980.79                     148853                   57087
20 2021-10-01  1,861.32                     140333                   55902
21 2021-09-01  1,989.58                     147766                   57477
22 2021-08-01  1,931.97                     143373                   56184
23 2021-07-01  1,875.60                     134435                   54346
24 2021-06-01  1,797.37                     152242                   57122
25 2021-05-01  1,773.64                     140388                   52316
26 2021-04-01  1,704.77                     132844                   49537
27 2021-03-01  1,626.38                     149669                   56313
28 2021-02-01  1,624.01                     119519                   46849
29 2021-01-01  1,688.28                     116889                   45023
30 2020-12-01  1,596.83                     120074                   46673
31 2020-11-01  1,496.98                     131839                   50856
32 2020-10-01  1,513.79                     132356                   53118
33 2020-09-01  1,481.69                     134694                   55221
34 2020-08-01  1,421.41                     126739                   50228
35 2020-07-01  1,352.95                     120925                   49696
36 2020-06-01  1,341.32                     132013                   52834
37 2020-05-01  1,218.45                     123346                   45498
38 2020-04-01  1,112.50                     120949                   42656
39 2020-03-01  1,243.34                     133867                   51940
40 2020-02-01  1,276.29                     117166                   48337
41 2020-01-01  1,254.21                     122752                   49740
42 2019-12-01  1,219.24                     107907                   40053
43 2019-11-01  1,149.82                     126595                   48504
44 2019-10-01  1,142.29                     136134                   53927
45 2019-09-01  1,133.90                     129389                   51385
46 2019-08-01  1,124.19                     130935                   50761
47 2019-07-01  1,122.85                     128844                   52908
48 2019-06-01  1,096.56                     127131                   51711
49 2019-05-01  1,151.09                     136058                   54645
50 2019-04-01  1,123.39                     125848                   50152
51 2019-03-01  1,101.34                     125050                   51277
52 2019-02-01  1,041.05                     112501                   46006
53 2019-01-01    994.45                     122825                   47731