In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path

In [8]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.5112.79 Safari/537.36'
}

page = 'https://finance.yahoo.com/quote/%5EOMXC25/history?period1=1483228800&period2=1691798400&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'lxml')
pageSoup
table_node = pageSoup.find('table',class_="W(100%) M(0)")

In [9]:
def parse_html_table(table_node):
    # Get the columns in a list
    columns_html = table_node.thead.find_all('th')
    # Extract the text
    columns = [col.text for col in columns_html]

    rows_list = table_node.tbody.find_all('tr')

    data = []
    for row_node in rows_list:
        row = []
        for child in row_node.children:
            row.append(child.text)
        data.append(row)
    df = pd.DataFrame(data,columns=columns)
    return df

In [12]:
x = parse_html_table(table_node)
x = x[['Date','Open']]
x['Date'] = pd.to_datetime(x['Date'])
x = x.rename(columns={'Open': 'OMXC25'})

x.to_csv(Path.cwd() / "OMXC25Data")
x

         Date    OMXC25
0  2023-08-11  1,795.66
1  2023-08-01  1,806.76
2  2023-07-01  1,821.58
3  2023-06-01  1,813.22
4  2023-05-01  1,829.29
..        ...       ...
76 2017-05-01  1,126.25
77 2017-04-01  1,075.07
78 2017-03-01  1,060.60
79 2017-02-01  1,049.63
80 2017-01-01  1,015.74

[81 rows x 2 columns]