In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.5112.79 Safari/537.36'
}

page = 'https://finance.yahoo.com/quote/%5EOMXC25/history?period1=1483228800&period2=1691798400&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'lxml')
pageSoup
table_node = pageSoup.find('table',class_="W(100%) M(0)")

In [16]:
def parse_html_table(table_node):
    # Get the columns in a list
    columns_html = table_node.thead.find_all('th')
    # Extract the text
    columns = [col.text for col in columns_html]

    rows_list = table_node.tbody.find_all('tr')

    data = []
    for row_node in rows_list:
        row = []
        for child in row_node.children:
            row.append(child.text)
        data.append(row)
    df = pd.DataFrame(data,columns=columns)
    return df

In [17]:
x = parse_html_table(table_node)
x[['Date','Open']]

            Date      Open
0   Aug 11, 2023  1,795.66
1   Aug 01, 2023  1,806.76
2   Jul 01, 2023  1,821.58
3   Jun 01, 2023  1,813.22
4   May 01, 2023  1,829.29
..           ...       ...
76  May 01, 2017  1,126.25
77  Apr 01, 2017  1,075.07
78  Mar 01, 2017  1,060.60
79  Feb 01, 2017  1,049.63
80  Jan 01, 2017  1,015.74

[81 rows x 2 columns]