In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path

In [40]:
df_oresund=pd.read_excel(Path.cwd() / "Oresundsbroen.xlsx", header=1)
df_oresund['Date'] = pd.to_datetime(df_oresund['År'].astype(str) + '-' + df_oresund['Måned'].astype(str), format='%Y-%m')
df_oresund = df_oresund.drop(columns=['År', 'Måned','MC', 'Personbiler', 'Personbiler med slæb m.m.', 'Busser', 'Total'])
df_oresund = df_oresund.rename(columns={'Last- og varebiler fra 6 m': 'Oresund LastbilerTotal'})
df_oresund
df_oresund.to_csv(Path.cwd() / "FinalOresundtData")
df_oresund

     Oresund LastbilerTotal       Date
0                     60599 2023-06-01
1                     60156 2023-05-01
2                     52003 2023-04-01
3                     60971 2023-03-01
4                     52304 2023-02-01
..                      ...        ...
271                   11821 2000-11-01
272                   11566 2000-10-01
273                   10924 2000-09-01
274                   10360 2000-08-01
275                    8927 2000-07-01

[276 rows x 2 columns]